@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "montserrat", "sans-serrif";
    background-color: rgb(100, 97, 97);
    
}

a{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: red;
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    border-color: lightgray;
}

.navbar{
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.nav_list {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.nav_list_item a:hover{
    color: darkcyan;
}


.hamburger_list {
    position: absolute;
    display: none;
}

.hamburger_menu{
    position: absolute;
    display: none;
}

@media (max-width: 1100px){
    .nav_list, .search_icon, .logo_div{
    display:none;
    }
    .nav_list_hamburger_menu{
        display: none;
    }
    .hamburger_menu{
        display: block;
        right: 15px;
        top:10px;
        width: 100px;
    }
    .logo_div{
        width: 100%;
        margin-left:70%;
    }
    .hamburger_menu img{
        width: 50px;
    }

    .hamburger_menu:hover{
        cursor: pointer;
    }
    .hamburger_menu:hover .nav_list_hamburger_menu{
        display: block;
        list-style-type: none;
    }
    .nav_list_hamburger_menu li{
        border-top: 1px solid black;
        color: black;
        margin-top: 6px;
        padding-top: 10px;
    }
    .nav_list_hamburger_menu li a:hover{
        color: darkcyan;
    }
}

/* Video */

#Video{
    text-align: center;
    margin-top: 20px;
    border: 2px;
    border-color: black;
}


/* Grid Items */

.Titles{
    color: red;
    font-size: 40px;
    text-align: center;
    padding: 20px 20px 20px 20px;

}

#homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; 
    margin: auto;
    padding: 40px;
    align-items: center;
    width: 80%;
}
@media (min-width: 1000px) {
  #homepage {
    grid-template-columns: 1fr;
  }
}

#Accesories {
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    background-color: blue;
    padding: 100px;
    text-align: center;
}

.PERTIT{
    font-size: 50px;
    padding-bottom: 40px;
    color: rgb(245, 227, 227);
}

.grid-item{
    width: 600px;
    height: 600px;
}

.item-des{
    font-size: small;
    color: rgb(245, 227, 227);
    font-weight: none;
    font-style: italic;
}
#des{
    margin: auto;
    display: grid;
    width: 80%;
    padding: 30px 30px 30px 30px;
    color: rgb(27, 26, 26);
}

/* button */
#CONTBUTT {
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  border: none; 
  background-color: red; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  opacity: 25%;
}

#chat{
    height: 50px;
    width: 50px;
    text-align: center;
}

#CONTBUTT:hover {
  background-color: red; /* Darker background on hover */
  opacity: 100%;
}