/*NavBar*/
body{
    font-family: "montserrat", "sans-serrif";
    background-color: rgb(100, 97, 97);
    
}

a{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: red;
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    border-color: lightgray;
}

.navbar{
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.nav_list {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.nav_list_item a:hover{
    color: darkcyan;
}


.hamburger_list {
    position: absolute;
    display: none;
}

.hamburger_menu{
    position: absolute;
    display: none;
}

@media (max-width: 1100px){
    .nav_list, .search_icon, .logo_div{
    display:none;
    }
    .nav_list_hamburger_menu{
        display: none;
    }
    .hamburger_menu{
        display: block;
        right: 15px;
        top:10px;
        width: 100px;
    }
    .logo_div{
        width: 100%;
        margin-left:70%;
    }
    .hamburger_menu img{
        width: 50px;
    }

    .hamburger_menu:hover{
        cursor: pointer;
    }
    .hamburger_menu:hover .nav_list_hamburger_menu{
        display: block;
        list-style-type: none;
    }
    .nav_list_hamburger_menu li{
        border-top: 1px solid black;
        color: black;
        margin-top: 6px;
        padding-top: 10px;
    }
    .nav_list_hamburger_menu li a:hover{
        color: darkcyan;
    }
}

#headertitle{
    color: white;
    text-align: center;
}

/* Home Button */
#home{
    position: fixed;
    bottom: 20px;
    left: 40px;
    opacity: 50%;
    width: 150px;
    margin: auto;
    border: none; 
    background-color: red; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
}
#home:hover{
    background-color: red; 
    opacity: 100%;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

#loz1{
    border: 1px solid red;
    color: green;
    padding: 10px 10px 10px 10px;
    background-color: peachpuff;
}

#loz2{
    border: 1px solid red;
    color: wheat;
    padding: 10px 10px 10px 10px;
    background-color: darkorange;
}

#img1{
    float: left;
    padding: 10px 10px 10px 10px;
}

#img2{
    float: right;
    padding: 10px 10px 10px 10px;
}

#video{
    text-align: center;
    margin-top: 20px;
    border: 2px;
    border-color: black;
}

article{
    margin: auto 0;
    padding: 40px 40px 40px 40px;
}

hr{
    border: none;
    height: 2px;
    background-color: white;
}

#headerA{
    color: white;
    margin: auto;
    width: 80%;
}

#A1{
    color: green;
}

#A2{
    color: lightblue;
}