body{
    background: linear-gradient(to right, Blue, #000000);
    height: 100vh;
    margin: 0;
}

/*NavBar*/
body{
    font-family: "montserrat", "sans-serrif";
    background-color: rgb(100, 97, 97);
    
}

a{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: red;
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    border-color: lightgray;
}

.navbar{
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.nav_list {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.nav_list_item a:hover{
    color: darkcyan;
}


.hamburger_list {
    position: absolute;
    display: none;
}

.hamburger_menu{
    position: absolute;
    display: none;
}

@media (max-width: 1100px){
    .nav_list, .search_icon, .logo_div{
    display:none;
    }
    .nav_list_hamburger_menu{
        display: none;
    }
    .hamburger_menu{
        display: block;
        right: 15px;
        top:10px;
        width: 100px;
    }
    .logo_div{
        width: 100%;
        margin-left:70%;
    }
    .hamburger_menu img{
        width: 50px;
    }

    .hamburger_menu:hover{
        cursor: pointer;
    }
    .hamburger_menu:hover .nav_list_hamburger_menu{
        display: block;
        list-style-type: none;
    }
    .nav_list_hamburger_menu li{
        border-top: 1px solid black;
        color: black;
        margin-top: 6px;
        padding-top: 10px;
    }
    .nav_list_hamburger_menu li a:hover{
        color: darkcyan;
    }
}








/* for content in container*/
#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;
}

#MM1 , #MM2 , #MM3 , #MM4 , #MM5 , #MM6{
    width: 300px;
    height: 200px;
}

#head{
    text-align: center;
    color: white;
    font-size: 40px;
    margin: auto 0;
    padding: 20px 20px 20px 20px;
}

article , #mmd{
    color:wheat;
}


#heaperp{
    margin: auto 0;
    font-size: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

#video{
    text-align: center;
    margin-top: 20px;
    border: 2px;
    border-color: black;
}

h1{
    color: white;
}


#mm1 , #mm2 , #mm3 , #mm4 , #mm5 , #mm6{
    border-width: 2px;
    border-style: solid;
    border-color: White;
    background-color: rgb(0, 93, 124);
    padding: 100px;
    text-align: center;
}

/* For Repsonsive Flex*/
@media (max-width: 1400px) {
    #container {
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 1000px) {
    #container {
        grid-template-columns: 1fr; 
    }
}

/* Home Button */
#home{
    position: fixed;
    bottom: 20px;
    left: 40px;
    opacity: 50%;
    width: 150px;
    margin: auto;
    border: none; 
    background-color: red; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
}
#home:hover{
    background-color: red; 
    opacity: 100%;
}